## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebugPublic/
[Rr]eleases/
*.dll
*.exe
*.pdb
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## OS
Thumbs.db
Desktop.ini
.DS_Store

## App config / secrets
config.json
*.local.json
.env
.env.*
